In [18]:
import pandas as pd

In [19]:
fpath = "data/Embed As-built (Field Data) JBM 20210802.txt"
df = pd.read_csv(fpath, names=["Name", "N", "E", "Elev", "Desc"])
df.head()

  Name         N         E     Elev   Desc
0  740  200.6600 -678.2100 -21.2500  Start
1  741  584.3653 -425.2598 -26.0587     tr
2  742  555.9200 -540.7900 -21.2500    NaN
3  743  286.8200 -514.6900 -21.2500    NaN
4  744  555.9404 -546.0015 -20.8703     tr

In [20]:
upper_lvl = df.loc[df["Elev"] >= 17.0]
lower_lvl = df.loc[df["Elev"] < 17.0]

In [4]:
upper_lvl["Adj_Elev"] = upper_lvl.Elev - 17.0

C:\Users\User 4\miniconda3\envs\data\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [5]:
import math
upper_lvl["ElevFeet"] = upper_lvl.Adj_Elev.apply(lambda x: math.trunc(x))
lower_lvl["ElevFeet"] = lower_lvl.Elev.apply(lambda x: math.trunc(x))

In [6]:
upper_lvl["ElevInches_dec"] = upper_lvl.Adj_Elev.apply(lambda x: 12 * (math.modf(x)[0]))
lower_lvl["ElevInches_dec"] = lower_lvl.Elev.apply(lambda x: 12 * (math.modf(x)[0]))

In [7]:
upper_lvl["ElevInches"] = upper_lvl.ElevInches_dec.apply(lambda x: math.trunc(x))
lower_lvl["ElevInches"] = lower_lvl.ElevInches_dec.apply(lambda x: math.trunc(x))

In [8]:
upper_lvl["E8ths"] = upper_lvl.ElevInches_dec.apply(lambda x: round(8 * math.modf(x)[0]))
lower_lvl["E8ths"] = lower_lvl.ElevInches_dec.apply(lambda x: round(8 * math.modf(x)[0]))

In [9]:
upper_lvl.columns

Index(['Name', 'N', 'E', 'Elev', 'Desc', 'Adj_Elev', 'ElevFeet',
       'ElevInches_dec', 'ElevInches', 'E8ths'],
      dtype='object')

In [10]:
upper_lvl[["Elev","Adj_Elev", "ElevFeet", "ElevInches", "E8ths"]]

        Elev  Adj_Elev  ElevFeet  ElevInches  E8ths
452  32.4585   -2.5415        -2          -6     -4
453  33.3610   -1.6390        -1          -7     -5
454  33.4527   -1.5473        -1          -6     -5
455  33.4605   -1.5395        -1          -6     -4
456  33.4664   -1.5336        -1          -6     -3
..       ...       ...       ...         ...    ...
737  33.8822   -1.1178        -1          -1     -3
738  33.8825   -1.1175        -1          -1     -3
739  33.8829   -1.1171        -1          -1     -3
740  33.8842   -1.1158        -1          -1     -3
741  33.8859   -1.1141        -1          -1     -3

[290 rows x 5 columns]

In [11]:
upper_lvl.columns

Index(['Name', 'N', 'E', 'Elev', 'Desc', 'Adj_Elev', 'ElevFeet',
       'ElevInches_dec', 'ElevInches', 'E8ths'],
      dtype='object')

In [12]:
lower_lvl[["Elev", "ElevFeet", "ElevInches", "E8ths"]]

        Elev  ElevFeet  ElevInches  E8ths
0   -21.2500       -21          -3      0
1   -26.0587       -26           0     -6
2   -21.2500       -21          -3      0
3   -21.2500       -21          -3      0
4   -20.8703       -20         -10     -4
..       ...       ...         ...    ...
447  16.8721        16          10      4
448  16.8797        16          10      4
449  16.8820        16          10      5
450  16.8841        16          10      5
451  16.9154        16          10      8

[452 rows x 4 columns]

In [13]:
upper_lvl.to_csv("Upper Level Feet and Inches.csv", index=False)
# lower_lvl.to_csv("Lower Level Feet and Inches.csv", index=False)

In [14]:
math.modf(-9.15)[0]

-0.15000000000000036

In [17]:
upper_lvl.Adj_Elev.median()

-1.173449999999999